<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title text-center>DITTO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-grid text-center>
        
        <ion-row>
            <ion-col size="12" size-md justify-content-center	>
                <h1 class="hero" [innerHTML]="id"></h1>
            </ion-col>
            
        </ion-row>
        <ion-row>
       
          <ion-col size="6" size-md *ngFor="let eyewear of eyewearList" padding margin  (click)="onClick(eyewear.id)">
              <ion-img [src]="eyewear.images.frontal" padding></ion-img>
            <div>
              <h4  class="title" [innerHTML]="eyewear.brand" no-margin></h4>
              <p  class="subTitle"  [innerHTML]="eyewear.name" no-margin></p>
            </div>
            
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-md justify-content-center	>
                <h1 class="hero">Select Your Eyewear</h1>
            </ion-col>
            
        </ion-row>
      <ion-row>
       
        <ion-col size="6" size-md *ngFor="let eyewear of eyewearList" padding margin  (click)="onClick(eyewear.id)">
            <ion-img [src]="eyewear.images.frontal" padding></ion-img>
          <div>
            <h4  class="title" [innerHTML]="eyewear.brand" no-margin></h4>
            <p  class="subTitle"  [innerHTML]="eyewear.name" no-margin></p>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
  