<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title text-center>DITTO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-grid text-center>

        <ion-row>
            <ion-col size="6" size-md justify-content-center	>
            <ion-img [src]="this.frontImg" padding></ion-img>
          </ion-col>
        <ion-col size="6" size-md justify-content-center	>
            <ion-img [src]="this.sideImg" padding></ion-img>
          </ion-col>
      </ion-row>

        <ion-row>
            <ion-col size="12" size-md justify-content-center	>
                <h1 class="hero" [innerHTML]="this.brand"></h1>
                <p  class="subTitle"  [innerHTML]="this.name" no-margin></p>
                <p  class="subTitle"  [innerHTML]="this.price" no-margin></p>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-left size="6" size-md justify-content-center	[innerHTML]="this.desc">
            </ion-col>
  
        </ion-row>

        <ion-row>
            <ion-col size="12" size-md justify-content-center	>
                <h1 class="hero">Select Your Eyewear</h1>
            </ion-col>
        </ion-row>
      <ion-row>
       
        <ion-col size="6" size-md *ngFor="let eyewear of eyewearList" (click)="onClick(eyewear.id)">
            <div padding margin>  
            <ion-img [src]="eyewear.images.frontal" padding></ion-img>
       
            <h4  class="title" [innerHTML]="eyewear.brand" no-margin></h4>
            <p  class="subTitle"  [innerHTML]="eyewear.name" no-margin></p>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
    
  </ion-content>
  