// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$break-md: 760px;
$break-lg: 1200px;

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
  url($font-file+'.woff') format('woff'),
  url($font-file+'.ttf') format('truetype'),
  url($font-file+'.svg#aller') format('svg');

  }
}

@include font('Montserrat-Light', '/assets/web-fonts/Montserrat-Light-webfont');
@include font('Montserrat-Bold', '/assets/web-fonts/Montserrat-Bold-webfont');


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:      #fff,
  dark:       #222,
  energized:  #ffc527,
  royal:      #7e60ff,
  subtle:     #444444,
  vibrant:    rebeccapurple,
  bright:     #ffc125,
  lightGray: #5a5a5a ,
);

ion-toolbar {
  --background: #fff;
  --ion-color-base: #fff !important;
  }

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Change the checkbox checkmark color
$checkbox-ios-icon-checkmark-color:   #fff;

// Used to show the status bar for component demos
$cordova-ios-statusbar-padding:       20px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Change the toolbar background color
$toolbar-md-background:                   color($colors, white);

// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;

// Change the checkbox checkmark color
$checkbox-md-icon-checkmark-color:        #fff;

// Used to show the status bar for component demos
$cordova-md-statusbar-padding:           29px;

.container { 
  
  @media screen and (min-width: $break-lg){
  margin-right: 18%;
  margin-left: 18%;
} 
@media screen and (max-width: $break-md){
  margin: 0;padding:0;
} 
} 
  
.hero {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 8vh;
  margin-bottom: 10px;
  @media screen and (max-width: $break-md) {
    font-size: 6vh;
  }
}
.SmallerHero{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3vh;
  margin-bottom: 10px;

}
.title {
  font-family: 'Montserrat-Bold', sans-serif;
  margin-top: 30px;
  
}
.subTitle {
  font-family: 'Montserrat-Light', sans-serif;
  color:#5a5a5a;
}
.text {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: bold;
  color:#5a5a5a;
}
.price {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.paragraph{
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 1.4;
}
.eyewear{
  &:hover{
  
    div{
      transform: translateZ(2px);
      box-shadow: 0 4px 16px rgba(0,0,0,.2);
      border-radius: 5px;
      cursor: pointer; 
    }

  }
      div{
    padding: 10px;
  }
}
.submit{    
  width: 230px;
  font-family: 'Montserrat-Bold', sans-serif;
  padding:20px;
  @media screen and (max-width: $break-md) {
    width:100%;
  }
}
.radio{
  font-family: 'Montserrat-Light', sans-serif;
  color:#5a5a5a;
}

.logo{
  cursor: pointer; 
  color: black;
    text-decoration: none;
}

.toolbar-background{background: #fff !important;}